@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0; */
}

body{
    background: linear-gradient(rgb(206, 206, 206), rgba(255, 255, 255, 1));
}

#contenedor{
    margin: auto;
    /* border: 2px solid red; */
    box-shadow: 0 0 50px black;
    
}

#nav-sociales{
    width: 100%;
    height: 3.2em;
    background: linear-gradient(rgb(102, 102, 102), rgba(255, 255, 255, 1));
    box-shadow: 0 0 1em black ;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* border: 2px solid blue; */
    position: fixed;
    z-index: 4;
}

#nav-sociales #redes{
    display: flex;
    justify-content: space-around;
    width: 12.5em;
    /* border: 1px solid blue; */

}
#nav-sociales #redes li{
    text-decoration: none;
    list-style: none;
    float: left;
    line-height: 4.7em;
    /* border: 1px solid red; */
}
#nav-sociales #redes li:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
#nav-sociales #carrito{
    display: flex;
    justify-content: flex-end;
    width: auto;
    /* border: 1px solid blue; */

}
#nav-sociales ul li{
    text-decoration: none;
    list-style: none;
    line-height: 4.7em;
    /* border: 1px solid red; */
}


#titulo{
    
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#nosotros{
    font-family: Georgia, 'Times New Roman', Times, serif  ;
    text-align: center;
    /* border: 1px solid red; */
    color: rgb(53, 53, 53);
    text-shadow: 10px 2px 10px rgb(122, 122, 122);
}

#encabezado {
    /* border: 1px solid red;  */
    width: 70%;

}

.botonera{
    width: 100%;
    /* border: 1px solid red; */
    height: 2.5em;
    background: linear-gradient(rgb(102, 102, 102), rgba(255, 255, 255, 1));
    
}

.botonera ul{
    list-style: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    line-height: 2.5em;
}

.botonera ul li{
    font-size: 1.3em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 5px 3px 8px rgba(0, 0, 0, 0.3);
}

.botonera ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    display: inline-block;
}

.botonera ul li a:hover{
    color: #f31313;
    transition: ease 0.3s;
    transform: scale(1.1);
}

#main{
    width: auto;
    background: rgba(255, 255, 255, 0.4);
    
}

#presentacion{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif  ;
}



.articulo1{
    width: 80%;
    margin: auto;
    /* border: 2px solid red; */
    margin-bottom: 2em;
    display: flex;
    border-radius: 0.8em;
    background-color: white;
    box-shadow: 0 0 0.5em black;
}

.descripciones{
    vertical-align: middle;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
    padding: 0.5em;
}

#reunion{

    border-radius: 0.8em    ;
}

#opinion{
    display: block;
    justify-content: space-between;
    /* border: 2px solid blue; */
}

#opinion>h3{
    font-size: 1.7em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif  ;
}

#reseñas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    border-radius: 0.8em    ;
    /* border: 1px solid red; */
}



.reseña{
    background-color: white;
    text-align: center;
    box-shadow: 0 0 0.2em black;
    border-radius: 0.8em    ;
    vertical-align: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5em;
    padding: 0.2em;
}

.reseña>h3{
    margin: auto;
    border-bottom: 1px solid rgb(99, 99, 99);
    width: 60%;
}
.valoracion{
    display: flex;
    justify-content: space-around;
    height: 2em;
    /* border: 1px solid red; */
    align-items: center;
}

.valoracion .cinco, .valoracion .cuatro{
    height: 1.5em;
    /* border: 1px solid red; */

}


.valoracion img{
    width: 30%;
    /* background-color: #f31313; */
    /* border: 1px solid red; */
    height: auto;

}

.pulgares{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.valoracion .pulgares .pulgarArriba{
    height: 1.2em;
    width: auto;
}
.valoracion .pulgares .pulgarAbajo{
    height: 1.2em;
    width: auto;
    transform:rotate(180deg);
}

.valoracion .pulgares .pulgarAbajo:hover{
    /* background-color: #f31313; */
    transform:rotate(180deg) scale(1.2); 
    transition: 0.5s ease;
}
.valoracion .pulgares .pulgarArriba:hover{
    transform:scale(1.2); 
    transition: 0.5s ease;
}

#instructivo{
    text-align: center;
    font-size: 1.2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#footer{
    text-align: center;
    margin: 1em;
    font-weight: 500;
    padding: 1em;
}









#problema{
    font-size: 1.8em;
    font-family: "Roboto", sans-serif;
    height: 2em;
    line-height: 2em;
}
#destacados,  #conDescuento{
    font-size: 1.8em;
    height: 2em;
    line-height: 2em;
    color: white;
}

#destacados{
    
    letter-spacing: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif  ;
    /* border: 1px solid red; */
    
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    background-color: rgb(51, 64, 252);
    }


#conDescuento{
    letter-spacing: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif  ;
    /* border: 1px solid red; */
    
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    background-color: rgb(252, 51, 51);

}

.productosDestacados{
    width: 95%;
    margin: auto;
    text-align: center;
    /* border: 1px solid red; */
    padding-top: 2em;
}

.producto .detalles, .nuevo .detalles{
    display: flex;
    width: 70%;
    margin: 0.5em auto;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    
}


.producto .detalles h4 a, .nuevo .detalles h4 a{
    text-decoration: none;
}

.productos, .nuevos{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    /* border: 2px solid red; */
}




.producto, .nuevo{
    width: 30%;
    height: 30%;
    background-color: rgb(240, 237, 237);
    border-radius: 1em;
    box-shadow: 0 0 0.5em black;
    margin: 1em;
    border: 1px solid red;
    position: relative;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.producto h3{
    font-size: 1.7em;
}

.producto p{
    font-size: 1.6em;
    font-weight: 500;
}

.producto:hover, .nuevo:hover{
    transform: scale(1.05);
    transition: 0.5s ease all;
    z-index: 1;
}


.imagen, .imagenNuevo{
    width: 80%;
    height: 15em;
    margin: auto;
    background: rgba(255, 255, 255,0);
    z-index: 2;
    position: relative;
    /* border: 1px solid red; */
}



.producto  button{
    border-radius: 1.4em;
    background-color: rgb(23, 90, 235);
    padding: 0.8em;
    color: white;
    cursor: pointer;
}

.producto button h3, .nuevo button h3{
    font-size: 1.1em;
}

.nuevo button{
    border-radius: 1em;
    background-color: #f31313;
    padding: 0.8em;
    color: white;
    margin: 0.5em;
    cursor: pointer;

}

.producto button:hover{
    background-color: rgb(70, 119, 224);
    transition: 0.3s;
}
.nuevo button:hover{
    background-color: rgb(231, 68, 68);
    transition: 0.3s;

}

.sale{
    width: 80%;
    z-index: 1;
    display: block;
    align-items: center;
    position: absolute;
    /* border: 2px solid red; */
    height: 40%;
    left: 10%;
}

.nuevos{

    background:linear-gradient(rgb(92, 92, 92),rgb(255,255,255),rgb(241, 92, 92));
    box-shadow: 0 0 1em black;
}

.productos{
    background: linear-gradient(rgb(50,50,50),rgb(255, 255, 255),rgb(46, 31, 255));
    box-shadow: 0 0 1em black;

}

.nuevo{
    position: relative;
    text-align:center;
    vertical-align: top;
    
}

.datos{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;

}


.datos h3{
    font-size: 1.7em;
}

.precioSinDescuento{
    text-decoration-line: line-through;

    color: #f31313;
    font-size: 1.2em;

}
.descuento{
    font-weight: bold;
    font-size: 1.2em;

}
.precioConDescuento{
    font-weight: bold;
    font-size: 1.7em;
}

#nav-sociales{
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
}









#campos{
    /* border: 2px solid blue; */
    width: 80%;
    margin: auto;
}

#campos label{
    font-size: 1.8em;
    display: block;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0.3em;
            }

input{
    border-radius: 1em ;
    height: 2.5em;
    width: 15em;
    margin-bottom: 1em;
}

#mensaje{
    display: block;
}

#formulario{
    width: 100%;
    margin: auto;
    height: auto;
    /* border: 1px solid red; */
    background: linear-gradient(rgb(255, 255, 255),rgb(100,100,100),rgb(51, 48, 48));
    
}

#formulario #mensaje{
    margin-top: 1em;
    border-radius: 0.5em;
}
#formulario button{
    width: 10em;
    background-color: rgb(126, 124, 124);
    margin:1em 0;
    border-radius: 2em;
    height: 2em;
    font-size: 1.2em;
    cursor: pointer;
}
#formulario button:hover{
    background-color: rgb(167, 169, 173);

}


#contacto {
    text-align: center;
    background-color: #444444;

}


.contacto-contenido {
    /* border: 1px solid red; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 40%;
    margin:  auto;
    align-items: center;
    height: auto;
}

.informacion-contacto a{
    color: #131313;
}

@media screen  and (max-width:768px){
    
    body{
        min-width: 20em;
    }

    #contenedor{
        width: 100%;
    }

    #nosotros{
        font-size: 1.7em;

    }

    #titulo{
        width: 100%;
        margin: auto;
        /* border: 1px solid red; */

        padding: 4em 0.5em 0 0.5em;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    #encabezado{
        width: 100%;
    }
    #nav-sociales #redes{
        margin-left: 5%;
    }
    #nav-sociales #carrito{
        margin-right: 5%;
    }
    .botonera ul{
        list-style: none;
        text-transform: uppercase;
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;

    }

    .botonera{
        height: auto;
    }

    #presentacion{
        font-size: 1.7em;
        padding: 1.3em;
    }
    .articulo1{

        display: flex;
        flex-wrap: wrap;
    }
    #lider{
        width: 70%;
        max-width: 20em;
        margin: auto;
    }

    #reunion{
        width: 70%;
        max-width: 25em;
        margin: auto;
    }
    .descripciones{
        font-size: 1.2em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.5em;
    }
    #reunion{
        margin-top: 0.5em;
    }
    #opinion>h3{
        padding: 1em;
    }
    #reseñas{
        width: 80%;
        height: 20%;
    }



    .reseña{
        width: 100%;
        height: auto;
    }

    .valoracion{
        width: 80%;
        /* border: 1px solid red; */
        margin: 0.5em auto;
        display: flex;
        justify-content: space-between;
    }

    .valoracion{
        display: flex;
        flex-wrap: wrap;
        /* border: 1px solid red; */
        height: auto;
        justify-content:space-around;
    }

    .valoracion .cinco{
        width: 5em;
    }

    .valoracion .cuatro{
        width: 5em;
    }
    .valoracion .pulgares{
        width: 4em;
        /* margin: auto; */
    }

    #productosDestacados{
        width: 90%;
    }

    #destacados{
        font-size: 1.5em;
        width: auto;
        height: auto;
    }

    #conDescuento{
        font-size: 1.5em;

        width: auto;
        height: auto;
    }

    .productos,.nuevo{
        gap:1em;
        /* border: 2px solid blue; */
    }
    .producto, .nuevo{
        width: 17em;
        border: 1px solid red;
        margin: auto;
        height: 31em;
        align-content: center;
        
    }
    .imagen{
        width: 80%;
    }
    
    .producto h3,.producto h3+p{
        font-size: 1.7em;
    }

    .nuevo{
        margin: 1em auto ;
    }

    .producto{
        margin: 1em auto;
    }

    #datos{
        height: auto;
    }

    #contacto {
        padding: 2em;
    }
    

    #problema{
        font-size: 1.5em;
        text-align: center;
    }

    #contacto h3 {
        margin-bottom: 1em;
        font-size: 2em;
    }
    
    .contacto-contenido {
        width: auto;
        
        /* border: 1px solid red; */
        padding: 0;
    

    }
    
    .informacion-contacto{
        margin: 0;
        /* border: 1px solid red; */
    }

    .informacion-contacto img{
        width: 0.8em;
    }
    
    .informacion-contacto p, .atencion p {
        margin: 0.5em ;
        font-size: 1.2em;
    }
    
    #contacto > p {
        margin-top: 1em;
        font-size: 1em;
    }
    
    .contacto-contenido .atencion h4{
        font-size: 1.2em;
        margin-top: 0.3em;
    }
    
    .contacto-contenido .informacion-contacto p{
        font-size:1.2em;
    }
    
    

}


@media screen and (min-width:769px) and (max-width:1023px){
    
    #contenedor{
        width: 90%;
    }

    #nav-sociales #redes{
        margin-left: 6%;
    }
    #nav-sociales #carrito{
        margin-right: 6%;
    }

    #nosotros{
        font-size: 1.7em;
        font-family: Georgia, 'Times New Roman', Times, serif  ;
        text-align: center;
        /* border: 1px solid red; */
    }
    
    #titulo{
        font-family: 'Courier New', Courier, monospace;
        width: 100%;
        margin: auto;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        vertical-align: middle;
        padding: 4em 0.5em 0 0.5em;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    #encabezado{
        width: 100%;
    }


    #presentacion{
        font-size: 1.7em;
        padding: 1.3em;
    }

    .descripciones{
        font-size: 1.5em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.8em;
    }
    .articulo1{

        display: flex;
        flex-wrap: wrap;
    }
    #lider{
        width: 20em;
        margin: auto;
    }

    #reunion{
        /* padding-top: 0.8em; */
        width: 28em;
        margin: 0.5em auto;
    }

    #opinion>h3{
        padding: 1em;
    }
    #reseñas{
        width: 80%;
        height: 20%;
        flex-wrap: wrap;
        display: flex;
        margin: auto;
    }
    .reseña{
        width: 100%;
        height: auto;
    }

    .valoracion{
        width: 80%;
        /* border: 1px solid red; */
        margin: 0.5em auto;
        display: flex;
        justify-content: space-between;
    }

    .valoracion .cinco{
        width: 7em;
    }

    .valoracion .cuatro{
        width: 7em;
    }
    .valoracion .pulgares{
        width: 4em;
    }

    #productosDestacados{
        width: 90%;
        /* border: 1px solid blue; */
    }

    #destacados,#tienda{
        font-size: 2.3em;
    }

    .producto, .nuevo{
        width: 18em;
        border: 1px solid red;
        margin: 0.5em auto;
        height: 31em;
        align-content: center;
        
    }

    

    .imagen{
        width: 80%;
    }

    .producto h3,.producto h3+p{
        font-size: 1.7em;
    }

    .botonera ul li a {
        font-size: 1.5em;
    }
    .nuevo{
        margin: 1em auto ;
    }
    #problema{
        font-size: 1.5em;
        text-align: center;
    }
    
    #contacto {
        padding: 2em;
    }
    
    #contacto h3 {
        margin-bottom: 1em;
        font-size: 2em;
    }
    
    .contacto-contenido {
        /* border: 1px solid red; */
        padding: 1em;
        width: 70%;
    }
    
    .informacion-contacto{
        margin: 0;
    }

    .informacion-contacto img{
        width: 0.8em;
    }
    
    .informacion-contacto p, .atencion p {
        margin: 0.5em ;
        font-size: 1.2em;
    }
    
    #contacto > p {
        margin-top: 1em;
        font-size: 1em;
    }
    
    .contacto-contenido .atencion h4{
        font-size: 1.2em;
    }
    
    .contacto-contenido .informacion-contacto p{
        font-size:1.2em;
    }
    
}

@media screen and (min-width:1024px){

    #contenedor{
        width: 80%;
        
    }

    #nav-sociales #redes{
        margin-left: 10%;
    }
    #nav-sociales #carrito{
        margin-right: 11%;
    }

    #nosotros{
        font-size: 1.7em;
        width: auto;
        padding-top: 0.5em;
    }
    
    #titulo{
        width: 100%;
        margin: auto;
        /* border: 1px solid red; */
        padding: 3em 0 0 0;
        gap: 0.5em;
    }


    .botonera ul li a{
        font-size: 1.3em;
    }
    #encabezado{
        width: 70%;
    }
    #presentacion{
        font-size: 1.7em;
        padding: 1.3em;
    }
    #lider,#reunion{
        width: 40%;
    }
    #reseñas {
        width: 80%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        border-radius: 0.8em;
        /* border: 1px solid red; */
        margin-top: 1em;
    }
    
    .reseña {
        height: auto;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        margin: 0.5em;
        padding: 0.2em;
    }

    .valoracion{
        width: 90%;
        /* border: 1px solid red; */
        margin: 0.5em auto;
        display: flex;
        justify-content: space-between;
    }

    .valoracion .cinco{
        width: 5em;
    }

    .valoracion .cuatro{
        width: 5em;
    }
    .valoracion .pulgares{
        width: 3em;
    }



    #destacados{
        font-size: 2em;
        /* border: 1px solid red; */
    }
    .producto, .nuevo{
        width:20em;
        height: auto;

    }
    .productos, .nuevos{
        justify-content: space-around;

        /* border: 2px solid red; */
    }
    #problema{
        text-align: center;

    }


    #contacto {
        padding: 2em;
    }

    #contacto {
        padding: 2em;
    }

    #contacto h3 {
        margin-bottom: 1em;
        font-size: 2em;
    }

    .contacto-contenido {
        /* border: 1px solid red; */
        padding: 1em;
        width: 70%;
    }

    .informacion-contacto{
        margin: 0;
    }
    .informacion-contacto img{
        width: 0.8em;
    }

    .informacion-contacto p, .atencion p {
        margin: 0.5em ;
        font-size: 1.2em;
    }

    #contacto > p {
        margin-top: 1em;
        font-size: 1em;
    }

    .contacto-contenido .atencion h4{
        font-size: 1.2em;
    }

    .contacto-contenido .informacion-contacto p{
        font-size:1.2em;
    }


}
